* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-container-custom{
  width: 700px;
  max-height: 500px;
  position: relative;
  border: 1px solid red;
}

.carousel-container-custom img{
  width: 700px;
  height: 500px;
  object-fit: cover;
}

.thumbnail-container-custom {
  width: 200px;
  height: 500px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.thumbnail-image {
  border: 3px solid green;
  height: 100px;
  width: 200px;
}

.thumbnail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-text {
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 0;
}